name: Create and publish php image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'php/**'

jobs:
  build-and-push-image:
    name: Push php image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0

      - name: Extract NGINX Version from Dockerfile
        id: extract-version
        run: |
          # Extract version from the Dockerfile's FROM line
          VERSION=$(grep -oP '(?<=^FROM php:)[0-9]+\.[0-9]+\.[0-9]+' php/Dockerfile | head -n 1)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/stephtr/php
          tags: |
            type=semver,pattern={{version}}-apache,value=${{ steps.extract-version.outputs.version }}-apache
            latest

      - name: Build and push docker image
        uses: docker/build-push-action@v6
        with:
          context: php
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
